@import './components/Section/Section.css';
@import './components/Box/Box.css';

Message Input

html body {
	box-sizing: border-box;
	min-width: 300px;
	font-size: 62.5%
}

.container {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
}


