.Section {
    width: 100%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.Section__heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 40%;
    padding-right: 5%;
}

.Section--bottomBlocks {
    width: 49.8%;
    height: 25%;
    display: inline-block;
    border-top: none;
}
