.Section {
    width: 100%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    
}

.Section__heading {
    font-size: 1.6rem;
    font-weight: bold;
}

.Section--bottomBlocks {
    width: 49.8%;
    height: 175px;
    display: inline-block;
    border-top: none;
}
