.Dropdown {
  float: left;
  height: 35px;
}

.Dropdown__content {
    position: absolute;   
}
.Dropdown__button {
    border: 1px solid black;
}
a {
    display: block;
    text-decoration: none;
    text-align: center;
}
